.google-sign-in {

	i {
		padding: 10px 10px 10px 0;
		color: red;
		font-size: 20px;
	}

	.button-container {
		text-align: center;
	}

	button {
		font-size: 15px;
		margin: 0 auto;
	}

	h1{
		text-align: center;
		margin: 20px 0 10px 0;
	}
}

.no-account {
	margin-top: 50px;
}