@import "../../variables";

.material-header {
	font-size: 20px;
	margin-bottom: 15px;
}

.list_item {
	border-left: 1px solid #a084ed;
	padding: 10px 10px 20px 10px;
	margin: 5px 0;
	color: $text-color;
	width: 100%;

	.title {
		margin: 0;
		padding: 0;
		display: inline;
	}

	.right_side_container {
		font-size: 12px;
		padding: 0;
		margin: 5px;
		display: inline;
		float: right;
		font-size: 25px;
		color: #a084ed;
	}

	.category {
		font-size: 12px;
		padding: 0;
		margin: 0;
		display: inline-block;
		font-style: italic;
		padding: 0 10px;
	}
}

.empty-box {
	margin: 0 auto;
	width: 150px;
}

.delete-icon {
	display: inline;
	float: right;
	font-size: 25px;
	padding: 7px 10px 0;
	color: $text-color;
}

.confirm-delete {
	float: right;
	padding: 0 10px;
	display: inline-block;

	.mbutton {
		border: none;
		box-shadow: -2px 2px 4px #000;
		margin: 0 5px;
		padding: 5px;
		border-radius: 3px;
		color: #fff;
		background: $text-color;
		font-size: 15px;
	}

	.delete-button {
		background: $red;
	}
}

@media only screen and (max-width: 2000px) {
	.list_item {
		.title {
			font-size: 15px;
		}

		.category {
			font-size: 10px;
		}

		.right_side_container {
				padding: 2px 0 0 0;
				margin: 0;
				display: inline;
				float: right;
				font-size: 20px;

				.confirm-delete {
					padding: 0 3px;
				}

				.delete-icon {
					font-size: 20px;
					padding: 5px ;
					color: $text-color;
				}

				.mbutton {
					margin: 0 2px;
					padding: 5px;
					border-radius: 3px;
					color: #fff;
					font-size: 10px;
				}

			}

	}
}