@import "../../variables";

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background: $background;
	border: none;
	box-shadow: -2px 2px 4px #000;

	.navbar-end {
		padding-right: 20px; 
	}

	.navbar-item {
		padding: 15px;
	}

	.title {
		color: $accent;
	}

	.button {
		background: $accent;
	}
}





.hamburger-menu-container{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	top: 0;
	right: 0;
	background: $background;
	transition: right .5s;

	.close-menu {
		width: 100%;
		text-align: right;
		padding: 15px;
		font-size: 33px;
		color: $red;
	}

	.user {
		.img-container {
			margin: 0 auto;
			text-align: center;
			
			img {
				height: 200px;
				width: 200px;
			}
		}
	}

	.navigate {
		margin-top: 50px;

		.nav-item {
			display: block;
			padding: 10px 5px;
			text-align: center;
			color: white;
			border-bottom: 1px solid $accent;
			width: 70vw;
			margin: 0 auto;
		}
	}

	.sign-out-container {
		position: absolute;
		bottom: 0;

		.sign-out-btn {
			width: 100vw;
			border-radius: 0;
			background: $red;
			border: none;
			color: #fff;
			padding: 15px;
			margin: 0;
			font-size: 25px;
		}
	}
}
