@import "node_modules/bulmaswatch/cyborg/bulmaswatch";

$background: #191919;
$accent: #a084ed;

.App {
	margin: 25px auto 0 auto;
	width: 1200px;

	.title {
		font-size: 25px;
	}
}

.material {
	background-color: $background;
	border-radius: 3px;
	padding: 10px;
	box-shadow: inset -2px 2px 4px #000;

	.button {
		background: $accent;
		box-shadow: -2px 2px 4px #000;
	}
}