@import "node_modules/bulmaswatch/cyborg/bulmaswatch";
@import "./variables";
$body-background-color: #212121;

html {
	background: $body-background-color;
}

.App {
	margin: 25px auto 0 auto;
	width: 70vw;

	.title {
		font-size: 25px;
	}
}

.page-title {
	font-size: 50px;
}

.material {
	background-color: $background;
	border-radius: 3px;
	padding: 10px;
	box-shadow: inset -2px 2px 4px #000;
	margin: 0 auto;

	.button {
		background: $accent;
		box-shadow: -2px 2px 4px #000;
	}
}

.auth-form {
	width: 700px;
	margin: 0 auto;
}

@media only screen and (max-width: 1300px) {
  .App {
    width: 95vw;
  }

  .auth-form {
		width: 100%;
		margin: 0 auto;
	}
}