.header {
	font-size: 30px;
}

.user {
	margin: 0 auto;
	width: 400px;
	text-align: center;

	.img-container {

		img {
			border-radius: 100%;
			width: 250px;
      height: 250px;
		}
	}
}

.upload-button {
	margin-top: -60px;
	margin-left: 150px;
	padding-bottom: 50px;

	button {
		border-radius: 50%;
		height: 50px;
		width: 50px;
	}
}

.fileContainer {
	max-height: 120px;

	p {
		display: none;
	}
}

.limit {
	margin: 50px 0;

	h1 {
		padding: 5px 20px;
	}

	input {
		display: inline-block;
		height: 36px;
	}

	.update-btn {
		display: inline-block;
		margin: 0 10px;
		background: #4286f4;
	}
}

.material {
	.logout-btn {
		background: #f44150;
	}
}


@media only screen and (max-width: 1300px) {
  .user {
  	width: 300px;
  }
}
